[flake8]
max-line-length = 120
exclude =   .venv
            .git
            __pycache__
            debug_backend
            scripts
            debug_adapter/schema.py
            debug_adapter/base_schema.py
            tests/debugpy
            tests/patterns
            tests/test_timeline.py
            tests/timeline.py
max-complexity = 10
ignore = F405
per-file-ignores =
    */__init__.py:F401,F403
